<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Diet Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>How many of your 5 a day have you had?</h2>

  <p>You have had {{ portions }} out of 5 today.</p>

  <ion-item>
    <ion-label>Portions: {{ portions }}</ion-label>
    <ion-range [(ngModel)]="portions" min="0" max="5" step="1" snaps="true" pin="true"></ion-range>
  </ion-item>

  <ion-button (click)="save()">Save</ion-button>

  <ion-card-title>Did you know?</ion-card-title>
    <p>A portion is roughly 80g of fruit or veg.</p>
    <p>Frozen and tinned fruit and veg count towards your 5 a day.</p>
    <p>Juice counts as only 1 portion no matter how much you drink.</p>
    <p>Potatoes do not count towards your 5 a day.</p>
</ion-content>