<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sleep Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>How many hours of sleep did you get?</h2>
  <p>Try to aim for 8 hours.</p>

  <p>You slept {{ hours }} hours last night.</p>

  <ion-item>
    <ion-label>Hours: {{ hours }}</ion-label>
    <ion-range [(ngModel)]="hours" min="0" max="10" step="1" snaps="true" pin="true"></ion-range>
  </ion-item>

  <ion-button expand="block" (click)="save()">Save</ion-button>

  <p>{{ message }}</p>

</ion-content>